{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_content %}
<div class="container-fluid">
    <h1 class="title">Sports App Dashboard</h1>
    <div class="row">
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Total Users</h5>
                    <p class="card-text display-4 text-center">{{ total_users }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Total Teams</h5>
                    <p class="card-text display-4 text-center">{{ total_teams }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Total Facilities</h5>
                    <p class="card-text display-4 text-center">{{ total_facilities }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Total Tournaments</h5>
                    <p class="card-text display-4 text-center">{{ total_tournaments }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Total Trainings</h5>
                    <p class="card-text display-4 text-center">{{ total_trainings }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Total Matches</h5>
                    <p class="card-text display-4 text-center">{{ total_matches }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
