<form method="post" action="{{ path('app_tournament_delete', {'id': tournament.id}) }}"
      onsubmit="return confirm('{{ confirm_message | default('Are you sure you want to delete ' ~ (tournament.name | default('this item')) ~ '?') }}');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tournament.id) }}">
    <button type="submit"
            class="{{ button_class | default('text-red-600 hover:text-red-900 font-medium hover:underline') }}">
        {% if icon_name is defined and icon_name is not null and icon_name is not empty %}
            <i data-feather="{{ icon_name }}" class="inline-block h-4 w-4 {{ button_text | default('') is not empty ? 'mr-1' : '' }}"></i>
        {% endif %}
        {{ button_text | default('Delete') }}
    </button>
</form>
